<div class="content" id="content">
    <div class="navbar"id="navbar">
        <div class="navbar__title">
            <div class="navbar__hide">
                <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="closeNav()">
                    <img src="../img/menu-back.svg">
                </a>
                <button class="openbtn" id="openbtn" onclick="openNav()">
                    <img src="../img/menu-toggle.svg">
                </button>
            </div>
            <h3 id="nav-title">Тесты</h3>
        </div>
        <div class="navbar__items">
            <div id="mySidebar" class="navbar__items__sidebar">
                <button id="sidebar-item-one" data-type="def" data-func="func1" onclick="displayDescOne(this.id)">Test's name</button>
                <button id="sidebar-item-two" data-type="def" data-func="func2" onclick="displayDescOne(this.id)">Another Test</button>
                <button id="sidebar-item-three" data-type="def" data-func="func3" onclick="displayDescOne(this.id)">Test</button>
                <button id="sidebar-item-four" data-type="def" data-func="func4" onclick="displayDescOne(this.id)">Название теста</button>
            </div>
        </div>
    </div>

    <div class="module">
        <div class="module__start" id="module-start">
            <p>Выберите тест из списка</p>
        </div>

        <div class="module__description" id="module-description">
            <div class="module__description__title">
                <p>Описание</p>
            </div>
            <div class="module__description__text">
                <p id="module-description-text"></p>
            </div>
            <div class="module__description__buttons">
                <button class="button-main" id="start-test" data-type="start">Начать</button>
                <button class="button-main" onclick="hideDescOne()">Отмена</button>
            </div>
        </div>

        <div class="module__employment" id="module-employment">
            <div class="module__employment__title">
                <div class="employment-exit">
                    <p>Выход</p>
                </div>
                <div class="employment-name">
                    <h2>Test's name</h2>
                </div>
                <div class="employment-another">
                    <div class="employment-another__reset">
                        <p>Сбросить все ответы</p>
                    </div>
                    <div class="employment-another__stage">
                        <p>2/5</p>
                    </div>
                    <div class="employment-another__timer">
                        <span>00:05:12</span>
                    </div>
                </div>
            </div>
            <div class="module__employment__workplace">
                <div class="workplace-items">
                    <div class="workplace-items__title">
                        <span class="counter">1.</span>
                        <p class="question">Вопрос №1</p>
                    </div>
                    <div class="workplace-items__options">
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_aa" value="Avery">
                            <label for="_aa">Вариант А</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_bb" value="Avery">
                            <label for="_bb">Вариант Б</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_cc" value="Avery">
                            <label for="_cc">Вариант В</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_dd" value="Avery">
                            <label for="_dd">Вариант Г</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_ee" value="Avery">
                            <label for="_ee">Вариант Д</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_ff" value="Avery">
                            <label for="_ff">Вариант Е</label>
                        </div>
                    </div>
                </div>
                <div class="workplace-items">
                    <div class="workplace-items__title">
                        <span class="counter">2.</span>
                        <p class="question">Вопрос №2</p>
                    </div>
                    <div class="workplace-items__options">
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_aaa" value="Avery">
                            <label for="_aaa">Вариант А</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_bbb" value="Avery">
                            <label for="_bbb">Вариант Б</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_ccc" value="Avery">
                            <label for="_ccc">Вариант В</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_ddd" value="Avery">
                            <label for="_ddd">Вариант Г</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_eee" value="Avery">
                            <label for="_eee">Вариант Д</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_fff" value="Avery">
                            <label for="_fff">Вариант Е</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module__employment__buttons">
                <button class="button-main button-main-another">Завершить</button>
            </div>
        </div>
    </div>
</div>