<div class="content" id="content">
    <div class="navbar"id="navbar">
        <div class="navbar__title">
            <div class="navbar__hide">
                <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="closeNav()">
                    <img src="../img/menu-back.svg">
                </a>
                <button class="openbtn" id="openbtn" onclick="openNav()">
                    <img src="../img/menu-toggle.svg">
                </button>
            </div>
            <h3 id="nav-title">Тесты</h3>
        </div>
        <div class="navbar__items">
            <div id="mySidebar" class="navbar__items__sidebar">
                <button class="btnDsbl" id="sidebar-item-one" data-type="def" data-func="func1" onclick="displayDescOne(this.id)">Test's name</button>
                <button class="btnDsbl" id="sidebar-item-two" data-type="def" data-func="func2" onclick="displayDescOne(this.id)">Another Test</button>
                <button class="btnDsbl" id="sidebar-item-three" data-type="def" data-func="func3" onclick="displayDescOne(this.id)">Test</button>
                <button class="btnDsbl" id="sidebar-item-four" data-type="def" data-func="func4" onclick="displayDescOne(this.id)">Test Theme</button>
            </div>
        </div>
    </div>

    <div class="module">
        <div class="module__start" id="module-start">
            <p>Выберите тест из списка</p>
        </div>

        <div class="module__description" id="module-description">
            <div class="module__description__title">
                <p>Описание</p>
            </div>
            <div class="module__description__text">
                <p id="module-description-text"></p>
            </div>
            <div class="module__description__buttons">
                <button class="button-main" id="start-test" data-type="start">Начать</button>
                <button class="button-main" onclick="hideDescOne()">Отмена</button>
            </div>
        </div>

        <div class="module__employment" id="module-employment">
            <div class="module__employment__title">
                <div class="employment-exit">
                    <button id="btn_modal_window">Выход</button>
                </div>
                <div class="employment-name">
                    <h2>Test's name</h2>
                </div>
                <div class="employment-another">
                    <div class="employment-another__reset">
                        <button class="resetAnswers" onclick="resetAnswers()">Сбросить все ответы</button>
                    </div>
                    <div class="employment-another__stage">
                        <span>0/5</span>
                    </div>
                    <div class="employment-another__timer">
                        <p id='emply-hours'>00:</p>
                        <p id='emply-minutes'>00:</p>
                        <p id='emply-seconds'>00</p>
                    </div>
                </div>
            </div>
            <div class="module__employment__workplace">
                <div id="quiz"></div>
                <button id="submit" onclick="openResults()">Завершить</button>
            </div>
        </div>

        <div class="module__results" id="module-results">
            <div class="module__results__title">
                <h3>Тест завершён</h3>
                <p>Вы ответили на <div id="results"></div> вопросов.</p>
            </div>
            <div class="module__results__answers">
                <div class="answers-head">
                    <p>Ваши ответы</p>
                </div>
                <div class="answers-items">
                    <div class="answers-items__item">
                        <div class="answers-items__item__number">
                            <P>1. Вопрос</P>
                        </div>
                        <div class="answers-items__item__result">
                            <div class="text-result true-result">
                                <p>Правильный ответ:</p>
                                <p>Вариант Б</p>
                            </div>
                            <div class="text-result your-result">
                                <p>Вы ответили:</p>
                                <p>Не ответили</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="answers-items">
                    <div class="answers-items__item">
                        <div class="answers-items__item__number">
                            <P>2. Вопрос</P>
                        </div>
                        <div class="answers-items__item__result">
                            <div class="text-result true-result">
                                <p>Правильный ответ:</p>
                                <p>Вариант В</p>
                            </div>
                            <div class="text-result your-result">
                                <p>Вы ответили:</p>
                                <p>Не ответили</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="answers-items">
                    <div class="answers-items__item">
                        <div class="answers-items__item__number">
                            <P>3. Вопрос</P>
                        </div>
                        <div class="answers-items__item__result">
                            <div class="text-result true-result">
                                <p>Правильный ответ:</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin odio sit amet.</p>
                            </div>
                            <div class="text-result your-result">
                                <p>Вы ответили:</p>
                                <p>Не ответили</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module__results__try-again">
                <button class="button-main" onclick="endTest()">Закрыть</button>
            </div>
        </div>
    </div>
</div>