<div class="content" id="content">
    <div class="navbar"id="navbar">
        <div class="navbar__title">
            <div class="navbar__hide">
                <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="closeNav()">
                    <img src="../img/menu-back.svg">
                </a>
                <button class="openbtn" id="openbtn" onclick="openNav()" style="display: none;">
                    <img src="../img/menu-toggle.svg">
                </button>
            </div>
            <h3 id="nav-title">Тесты</h3>
        </div>
        <div class="navbar__items">
            <ul id="mySidebar" class="navbar__items__sidebar">
                <li>Test's name</li>
                <li>Another Test</li>
                <li>Test</li>
                <li>Название теста</li>
            </ul>
        </div>
    </div>

    <div class="module">
        <div class="module__start" style="display: none;">
            <p>Выберите тест из списка</p>
        </div>

        <div class="module__description" style="display: none;">
            <div class="module__description__title">
                <p>Описание</p>
            </div>
            <div class="module__description__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper volutpat tristique. 
                    Fusce et nunc porttitor, pretium urna at, sagittis purus. Nullam sagittis congue sapien non sodales. 
                    Aliquam vel condimentum lacus, sit amet feugiat velit. Suspendisse congue imperdiet dui, sit amet cursus 
                    mi viverra sed. Nam porttitor venenatis vehicula. Vestibulum sed arcu vel lorem venenatis tempor.</p>
            </div>
            <div class="module__description__buttons">
                <button class="button-main">Начать</button>
                <button class="button-main">Отмена</button>
            </div>
        </div>

        <div class="module__employment">
            <div class="module__employment__title">
                <div class="employment-exit">
                    <p>Выход</p>
                </div>
                <div class="employment-name">
                    <h2>Test's name</h2>
                </div>
                <div class="employment-another">
                    <div class="employment-another__reset">
                        <p>Сбросить все ответы</p>
                    </div>
                    <div class="employment-another__stage">
                        <p>2/5</p>
                    </div>
                    <div class="employment-another__timer">
                        <span>00:05:12</span>
                    </div>
                </div>
            </div>
            <div class="module__employment__workplace">
                <div class="workplace-items">
                    <div class="workplace-items__title">
                        <span class="counter">1.</span>
                        <p class="question">Вопрос №1</p>
                    </div>
                    <div class="workplace-items__options">
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_aa" value="Avery">
                            <label for="_aa">Вариант А</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_bb" value="Avery">
                            <label for="_bb">Вариант Б</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_cc" value="Avery">
                            <label for="_cc">Вариант В</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_dd" value="Avery">
                            <label for="_dd">Вариант Г</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_ee" value="Avery">
                            <label for="_ee">Вариант Д</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut" id="_ff" value="Avery">
                            <label for="_ff">Вариант Е</label>
                        </div>
                    </div>
                </div>
                <div class="workplace-items">
                    <div class="workplace-items__title">
                        <span class="counter">2.</span>
                        <p class="question">Вопрос №2</p>
                    </div>
                    <div class="workplace-items__options">
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_aaa" value="Avery">
                            <label for="_aaa">Вариант А</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_bbb" value="Avery">
                            <label for="_bbb">Вариант Б</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_ccc" value="Avery">
                            <label for="_ccc">Вариант В</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_ddd" value="Avery">
                            <label for="_ddd">Вариант Г</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_eee" value="Avery">
                            <label for="_eee">Вариант Д</label>
                        </div>
                        <div class="workplace-items__options__elements">
                            <input type="radio" name="beerbut2" id="_fff" value="Avery">
                            <label for="_fff">Вариант Е</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module__employment__buttons">
                <button class="button-main button-main-another">Завершить</button>
            </div>
        </div>
    </div>
</div>